<h2>Cadastro de Usuários</h2>

<form [formGroup]="form" (ngSubmit)="submit()">

  <input placeholder="Nome" formControlName="name">

  <div *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
    Nome inválido
  </div>

  <input placeholder="Email" formControlName="email">

  <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
    Email inválido
  </div>

  <input type="number" placeholder="Idade" formControlName="age">

  <div *ngIf="form.get('age')?.touched && form.get('age')?.invalid">
    Idade deve ser entre 18 e 99
  </div>

  <button type="submit">Cadastrar</button>

</form>

<hr>

<h2>Usuários cadastrados</h2>

<table border="1" width="100%">

  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Idade</th>
    <th>Ações</th>
  </tr>

  @for (user of users; track user.id) {

    <tr>

      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.age }}</td>

      <td>
        <button *ngIf="user.id" (click)="deleteUser(user.id)">
          Excluir
        </button>
      </td>

    </tr>

  }

</table>
